/*My customised styles*/

body
{
        right:0;
        left:0;
        margin-right: 0px;
}

.banner
{       /*border:1px dashed blue;*/
        background-image: url('../img/awe.jpg');
        margin-top: 40px;
        padding-bottom:0px;
        height:600px;

}

.row 
{      /* border:1px dashed yellow;*/
        margin-right: 0px;
        margin-left: 0px;
}

blockquote
{       
        text-align: left;
        margin-top:40px;
        color: #f9f9f9;
}
.container
{

}

.intro
{     
        min-height: 400px;
}

.education
{
        min-height: 400px;
        color: #f9f9f9;
        background-color: #303030;
}

.project
{
        min-height: 400px;
}

.contact
{
        min-height: 400px;
        color: #f9f9f9;
        background-color: #303030;
}

section
{   
        padding-top: 20px;
        font-size:1.5em;

}

.icon-3x
{

        font-size: 10em;
}

.modal-footer 
{       
        margin-top:0px;
        margin-bottom:0px;
        border-top: 1px solid #e5e5e5;
}  


footer
{
        background-color:#303030;
        color: #f9f9f9;
}